<!-- head -->
<%- include partials/head.ejs %>
<!-- /head -->

<!-- body -->
  <%- include partials/header.ejs %>
  <div class="wrap wrap-body">
    <h1><%-JSON.stringify(post.title).replace(/\"/g, "")%></h2>
    <a href="https://twitter.com/<%-JSON.stringify(post.author).replace(/\"/g, "")%>"><%-JSON.stringify(post.author).replace(/\"/g, "")%></a>
    <%-body%>
  </div>
<!-- /body -->

<!-- footer -->
<%- include partials/footer.ejs %>
<!-- /footer -->
