<!-- head -->
<%- include partials/head.ejs %>
<!-- /head -->

<!-- body -->

<main class="wrap wrap-main">
  <%- include partials/header.ejs %>
  <section class="wrap wrap-body">
    <h1 class="static-header">
      <%-JSON.stringify(post.attributes.title).replace(/\"/g, "")%>
    </h1>
    <p>By
      <a href="https://twitter.com/<%-JSON.stringify(post.attributes.author).replace(/\" /g, "")%>">
        <%-JSON.stringify(post.attributes.author).replace(/\"/g, "")%>
      </a> on
      <%-JSON.stringify(post.attributes.date).replace(/\"/g, "")%>
    </p>
    <%-body%>
  </section>

<!-- footer -->
<%- include partials/footer.ejs %>
<!-- /footer -->

<!-- /body -->
