
<!-- head -->
<%- include partials/head.ejs %>
<!-- /head -->

<!-- body -->

<main class="wrap wrap-main">
  <%- include partials/header.ejs %>
  <section class="wrap wrap-body">
    <h1 class="static-header"><%-JSON.stringify(post.title).replace(/\"/g, "")%></h2>
    <a href="https://twitter.com/<%-JSON.stringify(post.author).replace(/\"/g, "")%>"><%-JSON.stringify(post.author).replace(/\"/g, "")%></a>
    <%-body%>
  </section>

<!-- footer -->
<%- include partials/footer.ejs %>
<!-- /footer -->

<!-- /body -->
